extend ../layouts/default.pug

block content
  .course
    h1.ui.header
      | #{title}&nbsp;&nbsp;
      a(href=`/course/${course._id}/edit?allow=true`)
        i.icon.edit
    img.course__logo(src=course.logoUrl alt=title)
    p.description Рабы природы, раста патриоты
      | Расхитители грибниц круче мать твою убийц
      | Убиваем свои бошки, но забыл кусы дорожки
      | Мураши сожмут ладошки неохота прожить в ложке
      | Но имея грязь делом мысля тело поимела
      | Не сгорела палево паря, а на душе все осело
      | Летела тишина, но свет не тушила
      | Звон этажами от дыма в пластмассе валит дозина-а-а
      | А мысли дальше бетонов, фальшивых гонов-загонов,
      | тупых ненужных загонов медленной в арке баронов
      | Мне выебонов ебланов добро покажет места нам
      | Листы листал запоздало,
      | в телах продажным не стану, душа свободна пизда вам
      | Постава жестче отравы издала крики устами, мясной забавы, потравы
      | Под пары вдохи в угары не угарим под нагаром
      | Среди бетонных коробок люди не станьте кошмаром
      | Биток затих, но я не затихну, я подкурю планты пыхну
      | Рисунки за облаками, звезды тускнее не стали
      | Местами все мы устали, мы брали юзали брали, дворами что-то питали
    p.jsPrice.course__price= course.price