extend ../layouts/default.pug

append content
  .ui.cards
    each course in courses
      .card.course-card
        a.image.course-card__image(href=`courses/${course._id}`)
          img(src=course.logoUrl alt=`Курс ${course.title}`)
        .content
          a(href=`courses/${course._id}`)
            h3.header= course.title
        .content.extra
          i.icon.money.bill.alternate
          span.jsPrice= course.price
        if isAuth
          .ui.bottom.attached.buttons.icon
            a.ui.button.basic.grey(href=`/course/${course._id}/edit?allow=true`)
              i.icon.shopping.edit
            form.ui.button.basic.green(action="/cart/add" method="POST")
              input(type="hidden" name="id" value=course._id)
              button.reset-style
                i.icon.shopping.basket
    else
      p.description Курсов нет
